<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3118629967-ljgl0v8poh4sqp8prdn7p8ibmr1igc55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3118629967-ljgl0v8poh4sqp8prdn7p8ibmr1igc55</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>3118629967-b7ammmgt2ueimavrk200vltninobeqlj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBFCyqAS3ufCRIuBzitGuelRuL7YuFFbY</string>
	<key>GCM_SENDER_ID</key>
	<string>3118629967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mishwarDriver</string>
	<key>PROJECT_ID</key>
	<string>mishwar-e1a4b</string>
	<key>STORAGE_BUCKET</key>
	<string>mishwar-e1a4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3118629967:ios:a69d3a1682c2199bbad63a</string>
	<key>DATABASE_URL</key>
	<string>https://mishwar-e1a4b-default-rtdb.firebaseio.com</string>
</dict>
</plist>